@use '/src/Sass/variables.scss' as *;
@use '/src/Sass/mixins.scss' as *;

.Warning-box{
    color: black;
    background-color: $color-base;
    width: 758px;
    height: 436px;
    border-radius: 10px;
    border: 1px;

    text-align: center;
    align-items: center;
    display: grid;
    

    .Warning-box__title{
        color: black;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 20px;

    }


 
}

.parag{
font-size: 25px;
font-weight: 400;

}

.btn-option{
    button{

        @include main-button;
        margin-top: 30px;
    }
}

button:hover{
    background-color: rgb(255, 255, 255);
    border: 1px black solid;
    color: black;
    

}

a:hover{
color: black;


}